@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #864747, #3e4c8a, #864747);
  font-family: "Acme", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.active {
  color: white;
  position: relative;
}
a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: white;
}
#nav-name {
  background-image: linear-gradient(to top, #ff0000, #032b99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5em;
  font-weight: 900;
  transition: all 0.8s;
  font-family: "Nova Round", cursive;
}
#nav-btn:hover #nav-name {
  background-image: linear-gradient(to top, #032b99, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#banner-name span {
  -webkit-text-stroke: 1px white;
}
card {
  box-shadow: -4px -4px 4px black;
}
.c-name {
  text-shadow: 0 3px 3px black;
}
@media screen and (max-width: 425px) {
  #nav-name {
    font-size: 2em;
  }
}
